<br>
<h3>Assignment Details</h3>
<hr>
<div class="container" *ngIf="isLoading">
  <spinner></spinner>
  <span>Loading Assignment Details...</span>
</div>
<table class="table table-bordered" *ngIf="!isLoading">
  <tr>
    <td>Course</td>
    <td> {{ (assignment | async)?.course }} </td>
  </tr>
  <tr>
    <td>Batch</td>
    <td> {{ (assignment | async)?.batch }} </td>
  </tr>
  <tr>
    <td>Subject</td>
    <td> {{ (assignment | async)?.subject }} </td>
  </tr>
  <tr>
    <td>Assignment Name</td>
    <td> {{ (assignment | async)?.AsnName }} </td>
  </tr>
  <tr>
    <td>Assignment Description</td>
    <td> {{ (assignment | async)?.AsnDesc }} </td>
  </tr>
  <tr>
    <td>Assignment Due Date</td>
    <td> {{ (assignment | async)?.dueDate }} </td>
  </tr>
</table>

<h4 *ngIf="fileNames.length > 0 && !isLoading">Attachments</h4>
<table class="table table-bordered" *ngIf="fileNames.length > 0 && !isLoading">
  <tr>
    <th>File Name</th>
    <th>Download</th>
  </tr>
  <tr *ngFor="let fileName of fileNames">
    <td>{{ fileName }}</td>
    <td><i class="glyphicon glyphicon-download-alt" (click)="downloadAttachment(fileName)"></i></td>
  </tr>
</table>
<br>
<div *ngIf="!isLoading">
  <div>
    <h3>Status : {{ status }}</h3>
    <hr>
  </div>
  <div *ngIf="status=='Not Submitted' && dueDateValid">
    <h3>Submit</h3>
    <upload [basePath]="basePath" [asnDetailKey]="asnDetailKey"></upload>
  </div>
  <br>
  <div>
    <button class="btn btn-primary" routerLink="/student/{{ currentNav }}">Back</button>
  </div>
</div>