<!--<div class="jumbotron text-center">
  <div class="container">
    <h1>Online Assignments</h1>
    <p>Now submit your assignments on the go</p>
    <a href=""><img src="assets/images/google.png"></a>
  </div>
</div>-->


<div class="container col-md-4 col-md-offset-4">
  <div class="alert alert-danger" *ngIf="_authService.loginError == 'auth/user-not-found'">
    Invalid email or password.
  </div>
  <div class="alert alert-danger" *ngIf="_authService.loginError == 'auth/user-disabled'">
    This user is blocked. Contact Admin.
  </div>
  <div class="alert alert-danger" *ngIf="_authService.loginError == 'auth/wrong-password'">
    Invalid email or password.
  </div>
  <form [formGroup]="form">
    <legend>Login</legend>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <div class="alert alert-danger" *ngIf="form.controls['email'].hasError('required')
        && form.controls['email'].touched">
        Please enter your somaiya email id.
      </div>
      <div class="alert alert-danger" *ngIf="form.controls['email'].hasError('email')
        && form.controls['email'].touched && !form.controls['email'].hasError('required')">
        Please enter a valid somaiya email id.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div class="alert alert-danger" *ngIf="form.controls['password'].hasError('required')
        && form.controls['password'].touched">
        Please enter password.
      </div>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="onloginClick()">Login</button>
    <a style="float:right" (click)="onChangePwd()">Change Password</a>
  </form>
  <br>
</div>