<br>
<h3>Pending Assignments</h3>
<hr>
<spinner *ngIf="isLoading"></spinner>
<span *ngIf="isLoading">Loading Assignments</span>

<table class="table table-bordered" *ngIf="!isLoading">
  <tr>
    <th>Name</th>
    <th>Subject</th>
    <th>Due Date</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let assignment of assignments | async" [hidden]="filter(assignment)">
    <td> <span class="AsnName" [routerLink]="['view', assignment.$key]"> {{ assignment.AsnName }} </span> </td>
    <td> {{ assignment.subject }} </td>
    <td> {{ assignment.dueDate }} </td>
    <td> <i class="glyphicon glyphicon-ok"></i> </td>
  </tr>
</table>