<br>
<h3>My Assignments</h3>
<hr>
<spinner *ngIf="isLoading"></spinner>
<span *ngIf="isLoading">Loading Assignments</span>
<table class="table table-bordered" *ngIf="!isLoading">
  <tr>
    <th>Name</th>
    <th>Course</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let assignment of assignments | async">
    <td> <span class="AsnName" [routerLink]="['view', assignment.$key]">{{ assignment.AsnName }} </span> </td>
    <td> {{ assignment.course }}  {{ assignment.batch }} </td>
    <td> <i class="glyphicon glyphicon-edit" [routerLink]="['edit', assignment.$key]"></i> </td>
    <td> <i class="glyphicon glyphicon-trash" (click)="onDelete(assignment)"></i> </td>
  </tr>
</table>