<br>
<h3>Assignment Details</h3>
<hr>
<div class="container" *ngIf="isLoading">
  <spinner></spinner>
  <span>Loading Assignment Details...</span>
</div>
<table class="table table-bordered" *ngIf="!isLoading">
  <tr>
    <td>Course</td>
    <td> {{ (assignment | async)?.course }} </td>
  </tr>
  <tr>
    <td>Batch</td>
    <td> {{ (assignment | async)?.batch }} </td>
  </tr>
  <tr>
    <td>Subject</td>
    <td> {{ (assignment | async)?.subject }} </td>
  </tr>
  <tr>
    <td>Assignment Name</td>
    <td> {{ (assignment | async)?.AsnName }} </td>
  </tr>
  <tr>
    <td>Assignment Description</td>
    <td> {{ (assignment | async)?.AsnDesc }} </td>
  </tr>
  <tr>
    <td>Assignment Due Date</td>
    <td> {{ (assignment | async)?.dueDate }} </td>
  </tr>
</table>

<h4 *ngIf="fileNames.length > 0 && !isLoading">Attachments</h4>
<table class="table table-bordered" *ngIf="fileNames.length > 0 && !isLoading">
  <tr>
    <th>File Name</th>
    <th>Download</th>
  </tr>
  <tr *ngFor="let fileName of fileNames">
    <td>{{ fileName }}</td>
    <td><i class="glyphicon glyphicon-download-alt" (click)="downloadAttachment(fileName)"></i></td>
  </tr>
</table>
<div *ngIf="!isLoading">
  <button class="btn btn-primary" routerLink="/faculty/{{ currentNav }}">Back</button>
  <button class="btn btn-info" [routerLink]="['/faculty/assignments/edit', asnDetailKey]">Edit</button>
  <button class="btn btn-danger" (click)="delete()">Delete</button>
</div>

<br>
<h4 *ngIf="!isLoading">Submission Status</h4>
<hr>

<table class="table table-bordered" *ngIf="!isLoading">
  <tr>
    <th>Sno</th>
    <th>Rno</th>
    <th>Name</th>
    <th>Download</th>
  </tr>
  <tr *ngFor="let sub of subList | async; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ sub.studRno }}</td>
    <td>{{ sub.studFName }} {{ sub.studLName }}</td>
    <td><i class="glyphicon glyphicon-download-alt" (click)="downloadSubmission(sub)"></i></td>
  </tr>
</table>

<br>
<h4 *ngIf="!isLoading">Defaulters List</h4>
<hr>

<table class="table table-bordered" *ngIf="!isLoading">
  <tr>
    <th>Sno</th>
    <th>Rno</th>
    <!--<th>Name</th>-->
  </tr>
  <tr *ngFor="let item of defaulterList; let i = index">
    <td *ngIf="i!=0">{{ i }}</td>
    <td *ngIf="i!=0">{{ item }}</td>
    <!--<td *ngIf="i!=0"></td>-->
  </tr>
</table>