<div class="col-sm-4 col-sm-offset-4">
  <form [formGroup]="form">
    <legend>Change Password</legend>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <div class="alert alert-danger" *ngIf="form.controls['email'].hasError('required')
              && form.controls['email'].touched">
        Please enter your somaiya email id.
      </div>
      <div class="alert alert-danger" *ngIf="form.controls['email'].hasError('email')
              && form.controls['email'].touched && !form.controls['email'].hasError('required')">
        Please enter a valid somaiya email id.
      </div>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="onChangePwd()">Send Email</button>
  </form>
  <br>
  <div [ngClass]="{ 'hidden': msgFlag }">
    <div class="alert alert-info">
      Password Reset Email has been sent.
    </div>
    <button type="button" class="btn btn-info" (click)="onLogin()">Login</button>
  </div>
</div>